@import "variables.module";
@import "mixins.module";

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 137px;
    background: $base-color;
    margin-top: 118px;
    min-height: calc(100% - 230px);
}

.logo {
    margin-left: 60px;
}

.contacts {
    color: $base-white;
    flex-direction: column;
    margin-right: 60px;
    text-align: right;
    font-family: $font-family-base;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.14px;
}

.smallLogo {
    margin-left: 18px;
}

.copyright {
    margin-top: 21px;
}

@media only screen and (max-width: 450px) {
    .logo {
        margin-left: 18px;
    }

    .contacts {
        margin-right: 19px;
    }
}

@media only screen  and (min-width: 450px) and (max-width: 600px) {
    .logo {
        margin-left: 30px;
    }

    .contacts {
        margin-right: 30px;
    }
}