@import "variables.module";
@import "mixins.module";

.btnDetail:hover {
    opacity: 0.8;
}

@media only screen and (max-width: 450px) {
    .card {
        @include card-rate($card-width-mobile, $card-height-medium);
        margin: 20px;
    }

    .header {
        @include card-header($additional-light-blue, $base-black, $card-width-mobile, $cardHeader-height-medium);
    }

    .h2Header {
        @include rate-h2(30px);
    }

    .cardText {
        @include card-text($card-font-medium);
    }

    .li {
        @include card-li($card-font-medium)
    }

    .svg {
        @include svg(-24px, 233px);
    }

    .smallSvg {
        transform: scale(0.7);
    }

    .h2Rate {
        @include rate-h2(33px);
    }

    .oldRate {
        @include oldRate(19px);
    }

    .inRate {
        @include inRate(30px);
    }

    .markers {
        @include markers;
    }

    .btnDetail {
        @include btn-detail($cardBtn-width-medium);
    }
}

@media only screen  and (min-width: 450px) and (max-width: 600px) {
    .card {
        @include card-rate($card-width-medium, $card-height-medium);
        margin: 20px;
    }

    .header {
        @include card-header($additional-light-blue, $base-black, $card-width-medium, $cardHeader-height-medium);
    }

    .h2Header {
        @include rate-h2(30px);
    }

    .cardText {
        @include card-text($card-font-medium);
    }

    .li {
        @include card-li($card-font-medium)
    }

    .svg {
        @include svg(-24px, 233px);
    }

    .smallSvg {
        transform: scale(0.7);
    }

    .h2Rate {
        @include rate-h2(33px);
    }

    .oldRate {
        @include oldRate(19px);
    }

    .inRate {
        @include inRate(30px);
    }

    .markers {
        @include markers;
    }

    .btnDetail {
        @include btn-detail($cardBtn-width-medium);
    }
}

@media only screen  and (min-width: 600px) and (max-width: 1000px) {
    .card {
        @include card-rate($card-width-big, $card-height-big);
        margin: 20px;
    }

    .header {
        @include card-header($additional-light-blue, $base-black, $card-width-big, $cardHeader-height-big)
    }

    .h2Header {
        @include rate-h2(30px)
    }

    .cardText {
        @include card-text($card-font-big);
    }

    .li {
        @include card-li($card-font-big)
    }

    .svg {
        @include svg(4px, 283px)
    }

    .h2Rate {
        @include rate-h2(33px)
    }

    .oldRate {
        @include oldRate(19px)
    }

    .inRate {
        @include inRate(59px)
    }

    .markers {
        @include markers
    }

    .btnDetail {
        @include btn-detail($cardBtn-width-big);
    }
}

@media only screen  and (min-width: 1000px) and (max-width: 1224px) {
    .card {
        @include card-rate($card-width-medium, $card-height-medium);
        transform: scale(0.8);
    }

    .header {
        @include card-header($additional-light-blue, $base-black, $card-width-medium, $cardHeader-height-medium);
    }

    .h2Header {
        @include rate-h2(30px);
    }

    .cardText {
        @include card-text($card-font-medium);
    }

    .li {
        @include card-li($card-font-medium)
    }

    .svg {
        @include svg(-24px, 233px);
    }

    .smallSvg {
        transform: scale(0.7);
    }

    .h2Rate {
        @include rate-h2(33px);
    }

    .oldRate {
        @include oldRate(19px);
    }

    .inRate {
        @include inRate(30px);
    }

    .markers {
        @include markers;
    }

    .btnDetail {
        @include btn-detail($cardBtn-width-medium);
    }
}

/* Небольшие размеры экрана ----------- */
@media only screen  and (min-width: 1224px) and (max-width: 1500px) {
    .card {
        @include card-rate($card-width-medium, $card-height-medium);
    }

    .header {
        @include card-header($additional-light-blue, $base-black, $card-width-medium, $cardHeader-height-medium);
    }

    .h2Header {
        @include rate-h2(30px);
    }

    .cardText {
        @include card-text($card-font-medium);
    }

    .li {
        @include card-li($card-font-medium)
    }

    .svg {
        @include svg(-24px, 233px);
    }

    .smallSvg {
        transform: scale(0.7);
    }

    .h2Rate {
        @include rate-h2(33px);
    }

    .oldRate {
        @include oldRate(19px);
    }

    .inRate {
        @include inRate(30px);
    }

    .markers {
        @include markers;
    }

    .btnDetail {
        @include btn-detail($cardBtn-width-medium);
    }
}


/* Широкоформатные мониторы ----------- */
@media only screen  and (min-width: 1500px) {
    .card {
        @include card-rate($card-width-big, $card-height-big)
    }

    .header {
        @include card-header($additional-light-blue, $base-black, $card-width-big, $cardHeader-height-big)
    }

    .h2Header {
        @include rate-h2(30px)
    }

    .cardText {
        @include card-text($card-font-big);
    }

    .li {
        @include card-li($card-font-big)
    }

    .svg {
        @include svg(4px, 283px)
    }

    .h2Rate {
        @include rate-h2(33px)
    }

    .oldRate {
        @include oldRate(19px)
    }

    .inRate {
        @include inRate(59px)
    }

    .markers {
        @include markers
    }

    .btnDetail {
        @include btn-detail($cardBtn-width-big);
    }
}