@import "variables.module";

.main {
    min-height: calc(100vh - 417px);
    margin: 69px 60px 0;
}

.h1 {
    width: 817px;
    height: 96px;
    color: $base-black;
    font-family: $font-family-bold;
    font-size: 40px;
    font-weight: 900;
    letter-spacing: 1.2px;
}

.p {
    @include textP(0.4px);
    margin-top: 25px;
}

.svgBig {
    position: absolute;
    top: 444px;
    right: 0;
}

.svg1 {
    position: absolute;
    top: 225px;
    right: 351px;
}

.svg2 {
    position: absolute;
    top: 243px;
    right: 44px;
}