@import "variables.module";
@import "mixins.module";

.formSearch {
    width: 872px;
    height: 543px;
    border-radius: 10px;
    background: $base-white;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.20);
    margin: 47px 0 200px;
    padding: 29px 0 0 44px;
    position: relative;

    & > * {
        display: block;
    }
}

.tin {
    @include search-text
}

.ton {
    @include search-text(30px)
}

.range {
    @include search-text(39px)
}

.footnote {
    color: #000;
    font-family: $font-family-base;
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 0.75px;
    position: absolute;
    top: -5px;
    right: -15px;
}

.form {
    @include search-form(242px, 22px)
}

.formError {
    color: $error;
    border: 1px solid $error !important;
}

.formError::placeholder {
    color: $error;
}

.error {
    position: absolute;
    width: 242px;
    text-align: center;
    margin: 3px 0 0;
    color: $error;
    font-family: $font-family-base;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.14px;
}

.errorDate {
    position: absolute;
    width: 372px;
    text-align: center;
    margin: 3px 0 0;
    color: $error;
    font-family: $font-family-base;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.14px;
}

.errorDate::placeholder {
    color: $error;
}

.formDate {
    width: 176px;
    height: 43px;
}

::placeholder {
    text-align: center;
}

.customSelect {
    padding-right: 8px;
    appearance: none;
    -webkit-appearance: none; /* Safari и Chrome */
    -moz-appearance: none; /* Mozilla */
    -ms-appearance: none; /* IE */
    background: url(../Svg/Select.module.svg) no-repeat calc(100% - 8px) center;
    cursor: pointer;
}

.calendar {
    @include search-form(176px, 0);
    text-align: center;
}

.dateEnd {
    position: absolute;
    top: 401px;
    left: 240px;
}

.checkBox {
    height: 270px;
    width: max-content;
    position: absolute;
    top: 29px;
    left: 427px;
}

.customRadio {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.customRadio+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
    margin-bottom: 18px;
    color: $base-black;
    font-family: $font-family-base;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.54px;
    cursor: pointer;
}

.customRadio+label::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid $base-black;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
}

.customRadio:not(:checked)+label {
    opacity: 0.4;
}

.customRadio:checked+label::before {
    border-color: $base-black;
    background-color: $base-white;
    background-image: url(../Svg/CheckBox.module.svg);
}

.customRadio+label:hover {
    border-color: $base-black;
    opacity: 1;
}

.btn {
    @include baseBtn;
    position: absolute;
    bottom: 59px;
    right: 39px;
    letter-spacing: 0.66px;
}

.required {
    color: $form-dark-gray;
    font-family: $font-family-base;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.42px;
    position: absolute;
    right: 85px;
    bottom: 32px;
    margin: 0;
}

@media only screen and (max-width: 450px) {
    .formSearch {
        width: 375px;
        height: 1005px;
        padding: 32px 0 0 14px;
        box-sizing: border-box;
        margin: 21px auto 0;
    }

    .form {
        @include search-form(335px, 22px);
    }

    .calendar {
        @include search-form(335px, 0);
    }

    .dateEnd {
        position: absolute;
        top: 464px;
        left: 14px;
    }

    .btn {
        @include baseBtn;
        width: 335px;
        position: absolute;
        letter-spacing: 0.66px;
        bottom: 40px;
        left: 14px;
    }

    .checkBox {
        height: 270px;
        width: 335px;
        position: absolute;
        top: 555px;
        left: 14px;
    }

    .required {
        bottom: 18px;
        left: 14px;
    }
}

@media only screen  and (min-width: 450px) and (max-width: 600px) {
    .formSearch {
        display: block;
        width: 450px;
        height: 1005px;
        padding: 32px 0 0 20px;
        box-sizing: border-box;
        margin: 21px auto 0;
    }

    .form {
        @include search-form(335px, 22px);
    }

    .calendar {
        @include search-form(335px, 0);
    }

    .dateEnd {
        position: absolute;
        top: 464px;
        left: 20px;
    }

    .btn {
        @include baseBtn;
        width: 410px;
        position: absolute;
        letter-spacing: 0.66px;
        bottom: 40px;
        left: 20px;
    }

    .checkBox {
        height: 270px;
        width: 335px;
        position: absolute;
        top: 555px;
        left: 20px;
    }

    .required {
        bottom: 18px;
        left: 20px;
    }
}

@media only screen  and (min-width: 600px) and (max-width: 800px) {
    .formSearch {
        display: block;
        width: 450px;
        height: 1005px;
        padding: 32px 0 0 20px;
        box-sizing: border-box;
        margin: 30px auto 0;
    }

    .form {
        @include search-form(335px, 22px);
    }

    .calendar {
        @include search-form(335px, 0);
    }

    .dateEnd {
        position: absolute;
        top: 464px;
        left: 20px;
    }

    .btn {
        @include baseBtn;
        width: 410px;
        position: absolute;
        letter-spacing: 0.66px;
        bottom: 40px;
        left: 20px;
    }

    .checkBox {
        height: 270px;
        width: 335px;
        position: absolute;
        top: 555px;
        left: 20px;
    }

    .required {
        bottom: 18px;
        left: 20px;
    }
}

@media screen and (min-width: 800px) and (max-width: 1224px) {
    .formSearch {
        display: block;
        width: 490px;
        height: 970px;
        padding: 32px 0 0 40px;
        box-sizing: border-box;
        margin: 40px auto 0;
    }

    .form {
        @include search-form(390px, 22px);
    }

    .calendar {
        @include search-form(390px, 0);
    }

    .dateEnd {
        position: absolute;
        top: 464px;
        left: 40px;
    }

    .btn {
        @include baseBtn;
        width: 410px;
        position: absolute;
        letter-spacing: 0.66px;
        bottom: 40px;
        left: 40px;
    }

    .checkBox {
        height: 270px;
        width: 390px;
        position: absolute;
        top: 555px;
        left: 40px;
    }

    .required {
        bottom: 18px;
        left: 40px;
    }
}

@media only screen  and (min-width: 1224px) and (max-width: 1500px) {
    .formSearch {
        margin: 47px 0 30px;
    }
}

@media only screen  and (min-width: 1500px) {

}

