@import "variables.module";
@import "mixins.module";

@media only screen and (max-width: 450px) {
    .card {
        width: 298px;
        height: 188px;
        border-radius: 10px;
        background: $base-white;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.20);
        margin: 20px auto;
    }

    .svg {
        margin: 22px 0 0 19px;
    }

    .text {
        color: $base-black;
        font-family: $font-family-base;
        font-size: 18px;
        font-weight: 400;
        letter-spacing: 0.18px;
        margin: 12px 0 0 20px;
    }
}

@media only screen  and (min-width: 450px) and (max-width: 600px) {
    .card {
        width: 340px;
        height: 225px;
        border-radius: 10px;
        background: $base-white;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.20);
        margin: 20px auto;
    }

    .svg {
        margin: 22px 0 0 19px;
    }

    .text {
        color: $base-black;
        font-family: $font-family-base;
        font-size: 18px;
        font-weight: 400;
        letter-spacing: 0.18px;
        margin: 12px 0 0 20px;
    }
}

@media only screen  and (min-width: 600px) and (max-width: 800px) {
    .card {
        width: 440px;
        height: 225px;
        border-radius: 10px;
        background: $base-white;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.20);
        margin: 20px auto;
    }

    .svg {
        margin: 22px 0 0 19px;
    }

    .text {
        color: $base-black;
        font-family: $font-family-base;
        font-size: 18px;
        font-weight: 400;
        letter-spacing: 0.18px;
        margin: 12px 0 0 20px;
    }
}

@media only screen  and (min-width: 800px) and (max-width: 1000px) {
    .card {
        width: 340px;
        height: 200px;
        border-radius: 10px;
        background: $base-white;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.20);
        margin: 20px auto;
    }

    .svg {
        margin: 22px 0 0 19px;
    }

    .text {
        color: $base-black;
        font-family: $font-family-base;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0.18px;
        margin: 12px 15px 0 15px;
    }
}


@media only screen  and (min-width: 1000px) and (max-width: 1224px) {
    .card {
        width: 440px;
        height: 225px;
        border-radius: 10px;
        background: $base-white;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.20);
        margin: 20px auto;
    }

    .svg {
        margin: 22px 0 0 19px;
    }

    .text {
        color: $base-black;
        font-family: $font-family-base;
        font-size: 18px;
        font-weight: 400;
        letter-spacing: 0.18px;
        margin: 12px 0 0 20px;
    }
}

/* Небольшие размеры экрана ----------- */
@media only screen  and (min-width: 1224px) and (max-width: 1500px) {
    .card {
        width: 340px;
        height: 200px;
        border-radius: 10px;
        background: $base-white;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.20);
        margin: 20px auto;
    }

    .svg {
        margin: 22px 0 0 19px;
    }

    .text {
        color: $base-black;
        font-family: $font-family-base;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0.18px;
        margin: 12px 15px 0 15px;
    }
}

/* Широкоформатные мониторы ----------- */
@media only screen  and (min-width: 1500px) {
    .card {
        width: 440px;
        height: 225px;
        border-radius: 10px;
        background: $base-white;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.20);
        margin: 20px auto;
    }

    .svg {
        margin: 22px 0 0 19px;
    }

    .text {
        color: $base-black;
        font-family: $font-family-base;
        font-size: 18px;
        font-weight: 400;
        letter-spacing: 0.18px;
        margin: 12px 0 0 20px;
    }
}