@font-face {
    font-family: 'Inter-Regular';
    src: url('/./fonts/Inter-Regular.ttf') format('ttf'),
    url('/./fonts/Inter-Regular.woff') format('woff'),
    url('/./fonts/Inter-Regular.woff2') format('woff2'),
    url('/./fonts/Inter-Regular.eot') format('eot');
}

@font-face {
    font-family: 'Inter-Medium';
    src: url('/./fonts/Inter-Medium.ttf') format('ttf'),
    url('/./fonts/Inter-Medium.woff') format('woff'),
    url('/./fonts/Inter-Medium.woff2') format('woff2'),
    url('/./fonts/Inter-Medium.eot') format('eot');
}

@font-face {
    font-family: Ferry;
    src: url('/./fonts/Ferry-Black.woff') format('woff'),
    url('/./fonts/Ferry-Black.eot') format('eot'),
    url('/./fonts/Ferry-Black.ttf') format('ttf');
}

$base-color: #029491;
$base-black: #000;
$base-white: #FFF;

$additional-blue: #5970FF;
$additional-light-blue: #7CE3E1;
$additional-orange: #FFB64F;

$form-gray: #f0f0f0;
$form-dark-gray: #949494;

$error: #FF5959;

$font-family-base: Inter-Regular, sans-serif;
$font-family-medium: Inter-Medium, sans-serif;
$font-family-bold: Ferry, sans-serif;

$card-width-big: 415px;
$card-width-medium: 340px;
$card-width-mobile: 335px;

$card-height-big: 540px;
$card-height-medium: 500px;

$cardHeader-height-big: 132px;
$cardHeader-height-medium: 112px;

$card-font-big: 18px;
$card-font-medium: 16px;

$cardBtn-width-big: 355px;
$cardBtn-width-medium: 280px;
