@import "variables.module";

.section {
    margin-top: 199px;
}

.h1 {
    color: #000;
    font-family: $font-family-bold;
    font-size: 45px;
    letter-spacing: 0.45px;
    margin-bottom: 70px;
}